
@font-face {
    font-family: "Monthoers";
    src: url("../fonts/Monthoers.ttf");    
}

@font-face {
    font-family: "SaintCarell" ;
    src: url("../fonts/SaintCarell_PERSONAL_USE_ONLY.otf");
}

@font-face {
    font-family: "CoolveticaCondensed";
    src: url("../fonts/coolvetica\ condensed\ rg.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Selector universal */
*{
    margin: 0;
    padding: 0;
 }

 img {
    width: 240px;
    height: 190px;
 }

 main {
    background-color: rgba(18, 8, 110, 0.521);
 }
 
.promos {
    background-color: rgba(23, 95, 129, 0.5);
} 

.promo-row {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-width: 3px
}

footer {     /* color fondo de footer */
    padding: 10px 10px 10px 10px;
    background-color: black;
}

p {
    font-family: "CoolveticaCondensed";
    font-size: 18px;
}

